<div class="header">
  <div class="content">
    <p class="logo brandon">urv2</p>
    <p class="byline brandon">Obrigado por se inscrever</p>
  </div>
</div>

<div class="hero">
  <div class="page-content clearfix">
    <div class="mammoth">
      <span class="need brandon"><b><i class="fa fa-bitcoin">itReal</i></b><br>dinheiro da Internet</span>
    </div>
    <div class="share-wrap">
      <p class="why brandon">Não deixe seus amigos para tráz.</p>
      <p class="title brandon">Convide seus Amigos<br>e ganhe tokens urv2</p>
      <p class="subtitle brandon">Compartilhe o link abaixo via email, Facebook<br>ou Twitter e ganhe premios para<br>cada amigo que se increver.</p>
      <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
      <% twitter_message = "#A evolução do DINHEIRO. Aguardando o lançamento do bitReal." %>
      <div class="social-links">
        <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" class="fb" target="_blank"></a>
        <div class="sep"></div>
        <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
      </div>
    </div>
  </div>
</div>

<%
  referrals_count = @user.referrals.count

  stops = User::REFERRAL_STEPS

  found = nil

  stops.reverse_each { |stop|
    if stop["count"] <= referrals_count and !found
      stop["selected"] = true
      found = stop
    else
      stop["selected"] = false
    end
  }
%>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
  <div class="page-content">
    <p class="callout brandon">Funciona assim: Ganhe 1 urv2 para cada cadastro do seu link + um bônus para meta alcançada</p>
    <ul class="products clearfix">
      <li class="title brandon"><p class="friends">Cadastros</p><p class="rewards">Prêmios</p></li>
      <% stops.each do |stop| %>
        <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
          <div class="circle"><%= stop["count"] %></div>
          <div class="sep"></div>
          <p><%= stop["html"].html_safe %></p>

          <!--
          <div class="tooltip">
            <img src="<%= stop["image"] %>" height="254">
          </div>
          -->
        </li>
      <% end %>
    </ul>

    <div class="progress">
      <div class="mover">
        <div class="bar clearfix"></div>
      </div>
    </div>

    <%
      words = ''
      if referrals_count == 1
        words = 'amigo cadastrado'
      elsif
        words = 'amigos cadastrados'
      end
    %>

    <% if referrals_count == 0 %>
      <p class="place brandon"><span>Nenhum</span> amigo se increveu...Ainda!</p>
    <% else %>
      <p class="place brandon"><span><%= referrals_count %></span> <%= words %>!</p>
    <% end %>
    <p class="check brandon">Continue divulgando!</p>

    <!-- <p class="ship brandon">Prêmios serão distríbuidos </p> -->
    <a class="policy brandon" href="/privacy-policy" target="_blank">Política de Privacidade</a>
  </div>
</div>
